html, body {
    height: 100%;
  margin: 0;
}
body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1;
  }
  .footer {
    position: sticky;
    bottom: 0;
    width: 100%;
  }
  
  button:hover {
    background-color: #4CAF50; /* Grön */
    color: white;
    transition: background-color 0.3s, color 0.3s;
}